/* Page-level */
html {
    height: 100%;
}
body {
    background: url("{% THEME %}/img/bit_texture.png");
    margin:0 auto; 
    padding:0px; 
    font: 13px/18px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    height:100%;
}
h1, h2, h3 {
    font-family:nevisBold;
    font-weight:lighter;
}
p { font-size: 13px; }
a:link { color:#2d81d5; text-decoration: none; }
a:visited { color:#2d81d5; } 
a:hover{ color:#ff6a57;text-decoration: underline; } 
a:active { color:#ff6a57; font-weight:bold; }

div{ background:none; }
/* Note: Make HTML 5 elements block-level for consistent styling */
header, nav, section, article, hgroup, footer, address { display:block; }

/* container holding the elements: header, nav and #content */
#container {
    position:relative;
    width:100%;
    margin:0;
    padding:0;
}
#backgroundImage {
    width:100%;
    height:100%;
}

/* navigation menu */
#menuToggle, #contentToggle {
    float:right;
    height:13px;
    cursor:pointer;
    clear:both;
}
#menuToggle {
    margin:5px 5px 0 0;
}
#contentToggle {
    margin:-3px -2px 0 0;
}
.box-shadow {
    -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
    box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
}
nav {
    position:absolute;
    top:0px;
    left:60px;
    background:none;
    width:130px;
    margin:0;
    clear:both;
    text-align:left;
    min-height: 320px;
    line-height: 35px;
    z-index:10;
    }
    nav table {
        border:0px;
        border-spacing:0;
    }
    nav .logo-fill {
        background:#fff;
        height:30px;
        text-align:right;
        vertical-align:top;
    }
    nav .fill-middle {
        width:17px;
    }
    nav #logo {
        background: url("{% THEME %}/img/logo.png") no-repeat;
        background-size:100px 70px;
        height:68px;
        width:119px;
    }
    nav #menu {
        background:#fff;
        padding:5px 10px 10px 10px;
    }
    nav a {
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight:lighter;
    }
    nav a:link {color:#a0a0a0;}
    nav a:visited {color:#a0a0a0;}
    nav a:hover {color:#000; text-decoration: none; font-weight:bold;}
    nav a:active {color:#000; font-weight:bold;}
    nav a.active-link {color:#000; font-weight:bold;}
    nav a.active-gallery {color:#000; font-weight:bold;}
    nav a.active-gallery-image {color:#000; font-weight:bold;}
    nav ul { 
        white-space:nowrap;
        list-style-type:none;
        margin:0px;
        padding:10px 10px 5px 10px; 
        } 
        nav ul li {
            height:20px;
        }
        #portofolio > li { 
            clear:both;
            height:auto;
            min-height:20px;
            line-height:20px;
            }
            #portofolio > li ul {
                list-style-type:none;
                margin:0;
                padding:0;
            }
            #portofolio > li ul > li {
                float:left;
                width:15px;
            }
        nav ul li:last-child {
            border-right:0px;
        }
    nav #menu #portofolio {
        padding:30px 10px 15px 10px;
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight:lighter;
    }
    nav #menu #portofolio ul li {
        height:auto;
    }
    nav #menu .image-list-ul {
        padding-left: 10px;
    }

/* content */
.ajax-loading {
    width: 500px;
    height:200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#content {
    display:none;
    position:absolute;
    top:100px;
    left:210px;
    background:#fff;
    min-height: 150px;
    width:500px; 
    padding:10px;
    z-index:9;
    font-size:12px;
    font-family: Arial, Tahoma, sans-serif;
    -webkit-box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    }
    #content h1 {
        margin:50px 0 30px 0;
        font-size:45px;
        font-weight:bold;
    }
    #content .ajax-content {
        overflow:scroll;
        max-height: 208px;
    }

/* footer */
footer {
    display:none;
    clear:both;
    position:relative;
    bottom:0;
    left:50%;
    width:600px;
    margin-left:-300px;
    text-align:center;
    font: 10px "lucida grande";
    color: #505050;
    padding-bottom:10px;
    }
    footer a {
        text-decoration:none;
        font: 10px "lucida grande";
        color: #505050;
    }
    footer a:link {color:#505050;}
    footer a:visited {color:#505050;}
    footer a:hover {color:#ff6a57;}
    footer a:active {color:#ff6a57;}


/* Pagination */
.paginate {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
a.paginate {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    border-left: 1px solid #DEDEDE;
    padding: 1px 6px;
    color: #005fad;
}
a.paginate:last-child {
    border-right: 1px solid #DEDEDE;
}

a.current {
    border-left: 1px solid #DEDEDE;
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 2px 6px 2px 6px;
    cursor: default;
    color: #000;
    font-weight:700;
    text-decoration: none;
}
a.current:last-child {
    border-right: 1px solid #DEDEDE;
}

span.inactive {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 1px 6px;
    color: #005fad;
    cursor: default;
}

/* Slideshow */
.slideshow-loading {
    position:absolute;
    top:370;
    left:500;
    width: 100%;
    text-align: center;
    margin-top: 370px;
    z-index:100;
    }
    .slideshow-loading div {
        width:36px;
        height:35px;
        line-height:30px;
        background:#fff;
        margin:0 auto;
        -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        -moz-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        }
        .slideshow-loading div img {
            height:16px;
            margin-bottom: -4px;
        }
    
.galleri-carousel {
    width:100%;
    height:100%;
}
#slideshow {
    position:relative;
    z-index:8;
    margin:0;
    height:100%;
    text-align:center;
    min-width:600px;
    }
    #slideshow .arrow {
        cursor:pointer;
        z-index:5000;
        display:none;
    }
    #slideshow .arrow.previous {
        position:absolute;
        top:450px;
        left:55px;
    }
    #slideshow .arrow.next {
        position:absolute;
        top:450px;
        right:55px;
    }
    #slideshow .arrow img {
        width:55px;
    }