/* Page-level */
@font-face {
    font-family: chronoLight;
    src: url("{% THEME %}/fonts/Chrono/Chrono-Light.eot"); /* EOT file for IE */
}
@font-face {
    font-family: chronoLight;
    src: url("{% THEME %}/fonts/Chrono/Chrono-Light.otf");
}
@font-face {
    font-family: chronoRegular;
    src: url("{% THEME %}/fonts/Chrono/Chrono-Regular.eot"); /* EOT file for IE */
}
@font-face {
    font-family: chronoRegular;
    src: url("{% THEME %}/fonts/Chrono/Chrono-Regular.otf");
}
html {
    height: 100%;
}
body {
    background: #fff;
    margin:0 auto; 
    padding:0px; 
    font: 11px/18px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    height:100%;
}
h1, h2, h3 {
    font-family:nevisBold;
    font-weight:lighter;
}
p { font-size: 11px; }
a:link { color:#4E4E4E; text-decoration: none; }
a:visited { color:#4E4E4E; } 
a:hover{ color:#ff6a57; text-decoration: underline; } 
a:active { color:#ff6a57; font-weight:bold; }

div{ background:none; }
/* Note: Make HTML 5 elements block-level for consistent styling */
header, nav, section, article, hgroup, footer, address { display:block; }

/* container holding the elements: header, nav and #content */
#container {
    position:relative;
    width:100%;
    margin:0;
    padding:0;
}
#backgroundImage {
    width:100%;
    height:100%;
}

/* navigation menu */
#menuToggle, #contentToggle {
    float:right;
    height:13px;
    cursor:pointer;
    clear:both;
}
#menuToggle {
    margin:5px 11px 0 0;
}
#contentToggle {
    margin:-3px -2px 0 0;
}
.box-shadow {
    -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
    box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.65);
}
nav {
    position:absolute;
    top:0px;
    left:60px;
    background:none;
    width:114px;
    margin:0;
    clear:both;
    text-align:left;
    min-height: 320px;
    line-height: 35px;
    z-index:10;
    }
    nav table {
        border:0px;
        border-spacing:0;
        width: 114px;
    }
    nav .menu-top {
        background: url("{% THEME %}/img/menu-top.png") no-repeat;
        height: 99px;
        text-align: right;
        vertical-align: top;
        width: 114px;
    }
    nav .menu-middle {
        background: url("{% THEME %}/img/menu-fill.png") no-repeat repeat;
    }
    nav .menu-bottom {
        background: url("{% THEME %}/img/menu-bot.png") no-repeat;
        width:114px;
        height: 5px;
    }
    nav #menu {
        padding:5px 10px 10px 0px;
    }
    nav ul { 
        white-space:nowrap;
        list-style-type:none;
        margin:0px;
        padding:10px 10px 5px 10px; 
        } 
        nav ul li {
            height:17px;
        }
        #portofolio > li { 
            clear:both;
            height:auto;
            min-height:17px;
            line-height:17px;
            }
            #portofolio > li ul {
                list-style-type:none;
                margin:0;
                padding:0;
            }
            #portofolio > li ul > li {
                float:left;
                width:15px;
            }
        nav ul li:last-child {
            border-right:0px;
        }
    nav #menu #portofolio {
        padding:30px 10px 15px 10px;
        text-decoration: none;
        font-size: 11px;
        font-family: 'chronoRegular', Arial, Tahoma, sans-serif;
        font-weight:lighter;
    }
    nav #menu #portofolio ul li {
        height:auto;
    }
    nav #menu .image-list-ul {
        padding-left: 0px;
    }
    nav a {
        text-decoration: none;
        font-size: 10px;
        font-family: 'chronoRegular', Arial, Tahoma, sans-serif;
        font-weight:lighter;
    }
    nav a:link {color:#4E4E4E;}
    nav a:visited {color:#4E4E4E;}
    nav a:hover {color:#000; text-decoration: none; font-weight:bold;}
    nav a:active {color:#000; font-weight:bold;}
    nav a.active-link {color:#000; font-weight:bold;}
    nav a.active-gallery {color:#000; font-weight:bold;}
    nav a.active-gallery-image {color:#000; font-weight:bold;}
    

/* content */
.ajax-loading {
    width: 500px;
    height:200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#content {
    display:none;
    position:absolute;
    bottom:-274px;
    left:2px;
    background: url("{% THEME %}/img/transparent-fill.png");
    height: 234px;
    width:265px; 
    padding:10px;
    z-index:9;
    font-size:12px;
    font-family: 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    line-height: 14px;
    -webkit-box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.65);
    }
    #content h1 {
        margin:50px 0 30px 0;
        font-size:45px;
        font-weight:bold;
    }
    #content .ajax-content {
        overflow-y:auto;
        max-height: 225px;
    }

/* footer */
footer {
    display:none;
    clear:both;
    position:relative;
    bottom:0;
    left:50%;
    width:600px;
    margin-left:-300px;
    text-align:center;
    font: 10px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    color: #505050;
    padding-bottom:10px;
    }
    footer a {
        text-decoration:none;
        font: 10px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
        color: #505050;
    }
    footer a:link {color:#505050;}
    footer a:visited {color:#505050;}
    footer a:hover {color:#ff6a57;}
    footer a:active {color:#ff6a57;}


/* Pagination */
.paginate {
    font: 12px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
a.paginate {
    font: 12px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    border-left: 1px solid #DEDEDE;
    padding: 1px 6px;
    color: #005fad;
}
a.paginate:last-child {
    border-right: 1px solid #DEDEDE;
}

a.current {
    border-left: 1px solid #DEDEDE;
    font: 12px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 2px 6px 2px 6px;
    cursor: default;
    color: #000;
    font-weight:700;
    text-decoration: none;
}
a.current:last-child {
    border-right: 1px solid #DEDEDE;
}

span.inactive {
    font: 12px 'chronoRegular', 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 1px 6px;
    color: #005fad;
    cursor: default;
}

/* Slideshow */
.slideshow-loading {
    position:absolute;
    top:370;
    left:500;
    width: 100%;
    text-align: center;
    margin-top: 370px;
    z-index:100;
    }
    .slideshow-loading div {
        width:36px;
        height:35px;
        line-height:30px;
        background:#fff;
        margin:0 auto;
        -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        -moz-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.65);
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        }
        .slideshow-loading div img {
            height:16px;
            margin-bottom: -8px;
        }
    
.galleri-carousel {
    width:100%;
    height:100%;
}
#slideshow {
    position:relative;
    z-index:8;
    margin:0;
    height:100%;
    text-align:center;
    min-width:600px;
    }
    #slideshow .arrow {
        cursor:pointer;
        z-index:5000;
        display:none;
    }
    #slideshow .arrow.previous {
        position:absolute;
        top:450px;
        left:10px;
    }
    #slideshow .arrow.next {
        position:absolute;
        top:450px;
        right:10px;
    }
    #slideshow .arrow img {
        width:24px;
    }
    #image-info-background {
        display:none;
        width: 100%;
        height: 45px;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 0;
        background: url("{% THEME %}/img/transparent-fill.png");
    }
    #image-info {
        display:none;
        height: 45px;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 20px;
        
        color: #4E4E4E;
        line-height: 27px;
        font-size: 12px;
        overflow: hidden;
        padding: 0 31px 0 33px;
    }